:root {
    --gradient: radial-gradient(#7a2f2f, #ad5f1a, #8c842a, #265e1f, #1f5e40, #1f565e, #242e75, #4d2475, #75246c, #75243e, #6e1616);
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background: var(--gradient);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
      height: 100vh;
}
  
@keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
  
    25% {
      background-position: 25% 75%;
    }
  
      50% {
          background-position: 100% 50%;
      }
  
    75% {
      background-position: 75% 25%;
    }
  
      100% {
          background-position: 0% 50%;
      }
}

#root {
    width: 100%;
    height: 100%;
}

.boardSpot {
    width: 100px;
    height: 100px;
    background: white;
    font-size: 80px;
    border-collapse: collapse;
    vertical-align: middle;
}

.highlightedSpot {
    width: 50px;
    height: 50px;
    background: yellow;
    font-size: 30px;
    border-collapse: collapse;
    vertical-align: middle;
}

#statusMessage {
    font-size: 20px;
}

#boardGridSpot {
    display: flex;
    justify-content: center;
    align-items: center;
}

#boardWrapper {
    font-size: 0;
    vertical-align: middle;
}

#toggleMovesListButton {
    width: 100px;
    height: 50px;
    background: red;
    font-size: 110%;
}

#toggleMovesListButton:hover {
    background: darkred;
    cursor: pointer;
}

#contentWrapper {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

#timeTravelList {
    list-style: none;
}

#buttonsGridCell {
    text-align: center;
}

#statusMessage {
    font-size: 45px;
}