:root {
    --gradient: radial-gradient(#d98989, #d9b289, #d9d589, #bad989, #89d98c, #89d9c0, #89ced9, #89a8d9, #8c89d9, #b289d9, #d989d5, #d989b6, #d98989);
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background: var(--gradient);
      background-size: 400% 400%;
      animation: gradient 30s ease infinite;
      height: 100vh;
}
  
@keyframes gradient {
    0% {
        background-position: 50% 50%;
    }
  
    12.5% {
      background-position: 0% 0%;
    }
  
    25% {
        background-position: 50% 50%;
    }
  
    37.5% {
      background-position:0% 100%;
    }
  
    50% {
        background-position: 50% 50%;
    }

    62.5% {
        background-position: 100% 100%;
    }

    75% {
        background-position:50% 50%;
    }

    87.5% {
        background-position: 100% 0%;
    }

    100% {
        background-position: 50% 50%;
    }

}
#root {
    width: 100%;
    height: 100%;
}

.boardSpot {
    width: 100px;
    height: 100px;
    background: white;
    font-size: 80px;
    border-collapse: collapse;
    vertical-align: middle;
}

.highlightedSpot {
    width: 50px;
    height: 50px;
    background: yellow;
    font-size: 30px;
    border-collapse: collapse;
    vertical-align: middle;
}

#statusMessage {
    font-size: 20px;
}

#boardGridSpot {
    display: flex;
    justify-content: center;
    align-items: center;
}

#boardWrapper {
    font-size: 0;
    vertical-align: middle;
}

#toggleMovesListButton {
    width: 100px;
    height: 50px;
    background: #5f9e90;
    font-size: 110%;
}

#toggleMovesListButton:hover {
    background: #395e56;
    cursor: pointer;
}

#contentWrapper {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

#timeTravelList {
    list-style: none;
}

#buttonsGridCell {
    text-align: center;
}

#statusMessage {
    font-size: 45px;
}

#headerGridCell {
    padding: 10px;
    text-align: center;
    font-size: 60px;
}

#restartButton {
    height: 40px;
    font-size: 30px;
    background: #bbedf2;
    outline: none;
    border: 2px solid black;
    padding: 5px;
    border-radius: 3px;
}

#restartButton:hover {
    background: #79adb3;
    cursor: pointer;
}